@CHARSET "UTF-8";

ul.nav.horizmenu,
ul.nav.horizmenu ul {
	list-style: none;
	padding: 0;
	position: relative;
}
ul.nav.horizmenu li {
    float: left;
}
ul.nav.horizmenu li.parent ul {
	position: absolute;
	visibility: hidden;
}
ul.nav.horizmenu li.parent:HOVER > ul {
	visibility: visible;
}
ul.nav.horizmenu li.parent li.parent a {
    float: left;
}
ul.nav.horizmenu li.parent li  {
	clear: left;
}
.horizmenu_clr {
    clear: left;
}
